<div id="about" class="mt-5 mb-5 justify-content-center" style="background-color: white;">
  <h1 class="row justify-content-center mb-5 text-uppercase">About</h1>
  <div class="row mr-5 ml-5 mb-5 align-items-center">
    <div class="col-md-6">
      <p>T’S BEEN FIVE years since Apple, Facebook, Google, and Microsoft first released diversity reports, revealing
        the companies’ workforces were overwhelmingly white or Asian men. Five years since Facebook first acknowledged
        it had “more work to do—a lot more,” and CEO Tim Cook wrote Apple employees a letter promising the company
        would be “as innovative in advancing diversity as we are in developing products.”</p>
      <p>Since then, Microsoft acquired LinkedIn and expanded in the cloud, Facebook gained roughly 1 billion monthly
        active users, Google achieved quantum supremacy, and Apple released the Apple Watch, Airpods, and iPhones 6s
        through 11. Despite their business successes, though, none of these big tech companies has made much progress
        in diversifying their workforces.</p>
      <p>The companies report more progress for women. At Facebook, the technical workforce is 23 percent female, up
        from 15 percent in 2014; Google reports similar gains. But no company is close to parity, despite having
        repeatedly pledged millions to address the problem.</p>
      <p>Amazon does not report demographics for its tech workforce, making it impossible to gauge the retail
        giant’s progress on diversity against other big tech companies. Amazon says almost 42 percent of its workers
        were women, and almost 42 percent of its US workers black or Latinx, at the end of last year. But those
        numbers include the vast majority of Amazon’s 647,000 employees who work in its distribution centers.</p>

    </div>
    <div class="col-md-6">
      <img src="/assets/img/fig02.jpg" alt="" width="100%" height="auto">
    </div>
  </div>

  <div class="row mr-5 ml-5 align-items-center">
    <div class="col-md-6">
      <img class="img-fluid" src="/assets/img/chart01.png" alt="" width="100%" height="auto">
    </div>
    <div class="col-md-6 text-right">
      <p>Freada Kapor Klein, a founding partner at venture capital firm Kapor Capital and a longtime advocate for
        diversity in tech, is baffled by how differently tech companies treat their diversity investments from other
        business initiatives. “If you wasted a billion dollars and nowhere near met your target, you wouldn’t get your
        bonus, you wouldn’t have a job. And yet there seem to be no consequences,” she says. “Despite all the words,
        despite all the money, despite all the platitudes and initiatives, it’s hard to say that the companies are
        really taking it seriously.”</p>
      <p>In addition, the companies point to their efforts to encourage more women and minorities to consider tech,
        to help address a legacy of underrepresentation. In 2017, only 9 percent of college students graduating with
        a degree in computer science were black, and only 10 percent were Latinx. Google invested $25 million to
        give more black and Latinx students exposure to computer science, and created a one-year residency at Google
        for juniors at historically black colleges. Facebook, similarly, has invested in training programs,
        internships, and projects like TechPrep, meant to introduce the tech field to people from nontraditional
        backgrounds. Apple partners with the Thurgood Marshall College Fund, Girls Who Code, and educational
        institutions like community colleges that traditional serve minority students.</p>
      <p>Once those more diverse hires arrive, companies have to learn how to keep them. In 2018, Google reported
        attrition data for the first time, showing black and Latinx employees left at higher rates than their white
        counterparts. In response, the company took steps including hiring retention case managers to work with
        employees from underrepresented backgrounds. This year, attrition rates fell for those groups. But Jim
        Heighington, Google’s head of diversity strategy, described the situation via email with a familiar phrase:
        “There is still work to be done.”</p>
    </div>
  </div>
  <p class="ml-5 mr-5 d-flex justify-content-end">Source: <a
      href="https://www.wired.com/story/five-years-tech-diversity-reports-little-progress/" class="alert-link">Wired</a>
  </p>
</div>

<div id="actions" class="mt-5 mb-5 justify-content-center" style="background-color: white;">
  <h1 class="row justify-content-center mb-5 text-uppercase">Actions</h1>
  <div class="row mr-5 ml-5 mb-5 align-items-center">
    <div class="col-md-6">
      <p>Other companies don’t release their attrition numbers, but a 2017 report from the Kapor Center found it to be a
        big problem across the industry. That report surveyed over 2,000 tech employees who left their jobs, and found
        many people of color felt they had unfairly been passed over for a promotion or faced stereotyping. A recent
        survey by diversity nonprofit Girls Who Code revealed that many women who applied for internships at tech
        companies said their interviewers asked inappropriate or gender-biased questions. Others reported being flirted
        with, dismissed, or demeaned.</p>
      <p>Klein says the attrition problem reveals that despite all their investments, tech companies still haven’t
        addressed biases in their cultures. Those biases led to unfair hiring practices that created relatively
        homogenous workforces, she adds, and they’ll keep companies from achieving their diversity goals. If companies
        can’t change their cultures, they’ll have a hard time hiring fast enough to move the numbers. And they probably
        won’t be able to keep new hires around for much longer than their predecessors.</p>
      <p>here are some brights spots. AnitaB.org, which advocates for women in tech, found that larger companies,
        including Microsoft, are promoting women at a slightly higher rate than men. Correspondingly, those larger
        companies’ retention rates for women exceeded those of small and midsize companies. That may, in part, explain
        why the share of women in tech has steadily risen. Jacqueline Copeland, AnitaB.org’s chief operating officer,
        says the data indicates tech companies may finally be reaching a tipping point, where there are enough women at
        organizations to truly change the culture.</p>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="/assets/img/chart02.png" alt="" >
    </div>
  </div>
  <p class="ml-5 mr-5 font-weight-bolder text-center">To truly change culture, says Klein, “there isn’t a checklist,
    there isn’t a silver bullet. This is hard work
    sustained over years. That’s the crux of the problem.” That means tech companies need to keep investing in hiring
    programs, build better retention initiatives, and get everyone, at every level of the company, to value and
    prioritize diverse and inclusive workforces. Or, to paraphrase a diversity report or two (or four), there’s a lot
    more work to do.</p>
  <p class="ml-5 mr-5 d-flex justify-content-end">Source: <a
      href="https://www.wired.com/story/five-years-tech-diversity-reports-little-progress/" class="alert-link">Wired</a>
  </p>
  <div class="row justify-content-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Lb8eYi_MVJY" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>

<div id="leaders" class="mt-5 mb-5 justify-content-center" style="background-color: white;">
  <h1 class="row justify-content-center mb-5 text-uppercase">Leaders</h1>
  <div class="card-deck ml-5 mr-5">
    <div class="card">
      <img src="/assets/img/Freada.jpg" class="card-img-top" alt="..." width="200px" height="auto">
      <div class="card-body">
        <h5 class="card-title text-center">Freada Kapor Klein</h5>
        <p class="card-text">Founder of the Level Playing Institute</p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/img/Quincy.jpg" class="card-img-top" alt="..." width="200px" height="auto">
      <div class="card-body">
        <h5 class="card-title text-center">Quincy Brown</h5>
        <p class="card-text">Co-Founder of blackcomputeHER.org</p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/img/Camis.jpg" class="card-img-top" alt="..." width="200px" height="auto">
      <div class="card-body">
        <h5 class="card-title text-center">Camilla Cleane</h5>
        <p class="card-text">Generation Brasil's Instructor</p>
      </div>
    </div>
  </div>
</div>
