<footer class="footer-distributed">
    <div class="footer-right">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-github-alt"></i></a>
    </div>
    <div class="footer-left">
        <p class="footer-links">
        <a class="link-1" href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Actions</a>
        <a href="#">Leaders</a>
        <a href="#">Contact</a>
        </p>
        <p>Ercília Dantas Design &copy; 2021</p>
    </div>
</footer>
