<nav id="navbar-changing" class="navbar navbar-expand-lg navbar-dark fixed-top p-0 w-100">
  <div class="container-fluid p-0" style="background-color:#1B3659;">
    <!-- logotipo -->
    <a class="navbar-brand m-0 ml-5 pb-3 pt-3" href="index.html">
      <img src="assets/logoColorido&Sombra.png" alt="Logo Conecta Mais" width="120px" height="120px" class="img-fluid">
    </a>
    <!-- /logotipo -->
    <!-- itens do menu -->
    <button class="navbar-toggler mr-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end p-0"  id="navbarSupportedContent">
      <ul class=" nav navbar-nav mr-5">
        <li class="nav-item ">
          <a class="nav-link active" aria-current="page" href="#section02">QUEM SOMOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#section04">FAÇA PARTE</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CONEXÕES</a>
          <ul class="dropdown-menu dropdown-menu-end" style="background-color: #007A80;"
            aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#"> <strong>Programação</strong></a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#"><strong>Bootcamps</strong></a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#"><strong>Hackatons</strong></a></li>
          </ul>
        <li class="nav-item" style="padding-right: 0% !important;">
          <a class="btn btn-outline-secondary" href="#" role="button" data-bs-toggle="button">CADASTRO</a>
        </li>
      </ul>
    </div>
    <!-- /itens do menu -->
  </div>
</nav>
