<header id="home" class="d-flex align-items-end">
  <div class="box01 m-0 ml-5 mb-5 font-weight-bolder text-center">
    <p class="m-5">If you are from the technology field you know how "diverse" it's. In fact, it's not by accident
      that the image we have about the "IT guy" is a "guy", usually a white man. The reason for it goes beyond our
      unconscious biases. The minorities has had difficulties to break this bubble. Users have been calling companies
      out about their policies and how it affects the way their app and software are design. </p>
  </div>
</header>
