<header class="container-fluid">
  <div class="container m-0 ml-5 mb-5 p-0">
    <p class="w-50 fw-bold fs-65 m-0 mb-4">Se conecte ainda mais<br>à Tecnologia</p>
    <p class="w-75 fw-bold fs-18 m-0">Você quer aprender a programar, mas não sabe por onde começar.
      <br> O Cenecta+ te ajuda! Busque por programas, bootcamps e hackathons.<br>Mais oportunidades ao alcance de todos!
      Venha construir novas conexões!</p>
    <div class="m-0 mt-4">
      <a class="btn btn-outline-secondary mr-3" href="#" role="button">CONHEÇA AS INSTITUIÇÕES</a>
      <a class="btn btn-outline-secondary" href="#" role="button"><span
          class="fas fa-hand-holding-heart d-inline-flex align-self-center"></span> APOIE</a>
    </div>
  </div>
</header>
